html, body, ul, li, div, p, a, form, section, footer, header, nav, img, input, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}
.container {
  margin: 0 auto;
  padding: 30px 0 30px 0;
  background-color: #f6f6f6;
  width: 778px;
  border: 1px solid #e3e3e3;
  font-family: 'Biryani', sans-serif;
  font-size: 12px;
}
/*decoration color*/
.deco {
  color: #36b358;
}

#logo {
  padding: 0 45% 0 45%;
  height: 120px;
  width: 77px;
}
/*headers*/
.title {
  padding: 50px 0 20px 0;
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
}
/*form*/
form {
  margin: 0 50px 50px 50px;
}
input[type=text] {
  width: 100%;
  padding: 10px 15px 5px 15px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-family: 'Biryani', sans-serif;
  font-size: 13px;
  box-sizing: border-box;
  outline: none;
}
#endDate-inp {
  width: 50%;
}
input[type=text]:focus {
  border: 1px solid #36b358;
}
.normalDateEnd {
  margin-left: 30px;
  color: #919191;
  font-size: 12px;
}
input[type=submit] {
  width: 300px;
  margin: 20px 28% 0 28%;
  padding: 13px 20px 8px 20px;
  border-radius: 4px;
  background-color: #36b358;
  font-family: 'Biryani', sans-serif;
  font-size: 11px;
  color: #f6f6f6;
  text-transform: uppercase;
  outline: none;
}
/*proposals*/
table {
  margin: 0 50px 30px 50px;
  padding: 3px;
  text-transform: capitalize;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background-color: white;
}
td:first-child:not(.btn) {
  font-size: 13px;
  width: 150px;
}
.btn {
  padding: 0 47% 0 47%;
  text-transform: uppercase;
  font-size: 11px;
}
#lessBtn, .hidden, .status {
  display: none;
}
